.headerPrincipal {
    padding: 35px;
    background-color: rgb(245, 127, 48);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}
   .NavBar{
    display: flex;
    
   }
   .buscador{
    display:flex;
    align-items: center;
    gap:10px;
    background: #f1f1f1;
    padding: 8px 12px;
    border-radius: 20px;
    width: 600px;
   
   }
   .buscador i{
    color:#777;
   }
   .buscador input{
    border: none;
    outline: none;
    background: transparent;
    width: 200%;
    font-size: 14px;
  
   }
   .fa-user{
    font-size: 30px;
    color: white;
   }
   .carrito-icon{
    font-size: 28px;
    color: white;
    cursor: pointer;
   }

a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    gap: 10rem;
    font-size: larger;
}

.logo{
    width: 180px;
    height: auto;
    margin: 0;
}

/* css para el swiper */
.promo{
    background-color: #000000;
    color: rgb(255, 254, 254);
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.promo .swiper-slide{
    padding: 12px 0;
}
.galeriaProductos{
    padding: 50px;
}
h2{
    padding: 20px;
}
.cardContenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:3rem;
}
.card{
    background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 400px;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
}
.card h3{
    padding: 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*cardswiper*/
.container4{
    padding:60px;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-auto-rows: minmax(150px, auto);
gap: 1rem;
}

.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    grid-auto-flow: dense;
}

.div1 { grid-column: 1 / 3; grid-row:  1 / 3; }
.div2 { grid-column: 3 / 6; grid-row:  1 / 2; }
.div3 { grid-column: 5 / 6; grid-row: 2 / 3; }
.div4 { grid-column: 3 / 5; grid-row: 2 / 3; }
.div5 { grid-column: 1 / 2; grid-row: 3 / 4; }


/*seccion svg*/
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background: #fff;
}
.info-item{
    text-align: center;
    padding: 0 2rem;
    max-width: 220px;
}

.icon{
   font-size: 48px;
   color:#ff5a5f;
    margin-bottom: 1rem;
}
.info-item h4{
    font-size: 16px;
    margin-bottom: 0.5rem;
}
.info-item p{
    font-size: 14px;
    color: #555;
}
.info-item a {
    color:#000;
    font-weight: 500;
    text-decoration: none;
}
.line{
    width: 1px;
    height: 80px;
    background: #ddd;
}


/*footer*/
.footer{
    padding: 60px;
    background-color: rgb(231, 118, 43);
    color: white;
}
/*menos gasto section*/

.container5 {
   padding: 40px 20px;
   background-color: #f4f4f4;
   font-family: Arial, Helvetica, sans-serif;
}
.titulo-seccion{
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    padding: 0 20px;
}


.contenido5 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
   
}

/*banner lateral*/
.fotoDesc {
    flex: 0 0 250px; 
}

.fotoDesc img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

/*slider y flechas*/

.slider-container{
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}
.productos5 {
    
    display: flex;
    gap: 15px;
    width: 100%;
    overflow: hidden;
}

.cards {
    flex: 0 0 220px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.cards:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.card-header .marca{
    font-weight: bold;
    font-size: 12px;
    color: #333;
    display: block;
}

.card-header .descripcion{
    font-size: 13px;
    color: #666;
    margin-top: 5px;
    height: 40px;
    overflow: hidden;
}
.cards img {
    width: 120px;
    height: 120px;
    object-fit: contain; 
   margin: 10px 0;
}
.precio{
    font-size: 20px;
    font-weight: 800;
    margin: 15px 0;
}

.btn-agregar{
      background-color: #5cb85c; 
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}
.btn-agregar:hover {
    background-color: #4cae4c;
}

/* Botones de navegación */
.btnSlider {
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.btnSlider.left { left: -20px; }
.btnSlider.right { right: -20px; }
