.headerPrincipal {
    padding: 35px;
    background-color: rgb(231, 118, 43);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}
   .NavBar{
    display: flex;
    
   }

a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    gap: 10rem;
    font-size: larger;
}

.logo{
    width: 180px;
    height: auto;
    margin: 0;
}

/* css para el swiper */
.promo{
    background-color: #000000;
    color: rgb(255, 254, 254);
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.promo .swiper-slide{
    padding: 12px 0;
}
.galeriaProductos{
    padding: 50px;
}
h2{
    padding: 20px;
}
.cardContenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:3rem;
}
.card{
    background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 400px;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
}
.card h3{
    padding: 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*cardswiper*/
.container4{
    padding:60px;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-auto-rows: minmax(150px, auto);
gap: 1rem;
}

.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    grid-auto-flow: dense;
}

.div1 { grid-column: 1 / 3; grid-row:  1 / 3; }
.div2 { grid-column: 3 / 6; grid-row:  1 / 2; }
.div3 { grid-column: 5 / 6; grid-row: 2 / 3; }
.div4 { grid-column: 3 / 5; grid-row: 2 / 3; }
.div5 { grid-column: 1 / 2; grid-row: 3 / 4; }


/*seccion svg*/
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background: #fff;
}
.info-item{
    text-align: center;
    padding: 0 2rem;
    max-width: 220px;
}

.icon{
   font-size: 48px;
   color:#ff5a5f;
    margin-bottom: 1rem;
}
.info-item h4{
    font-size: 16px;
    margin-bottom: 0.5rem;
}
.info-item p{
    font-size: 14px;
    color: #555;
}
.info-item a {
    color:#000;
    font-weight: 500;
    text-decoration: none;
}
.line{
    width: 1px;
    height: 80px;
    background: #ddd;
}


/*footer*/
.footer{
    padding: 60px;
    background-color: rgb(231, 118, 43);
    color: white;
}

