.headerPrincipal {
    padding: 45px;
    background-color: rgb(238, 114, 12);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   .NavBar{
    display: flex;
    gap:2rem
   }

a{
    text-decoration:none;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    gap: 2rem;
}

.logo{
    width: 160px;
    height: auto;
    margin: 0;
}

/* css para el swiper */
.promo{
    background-color: #1a1a1a;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.promo .swiper-slide{
    padding: 12px 0;
}